* {
  margin: 0px;
}
:root {
  --a3-width: calc(29.7cm / 2.54 * 96); /* A3 width in pixels */
  --a3-height: calc(42cm / 2.54 * 96); /* A3 height in pixels */
}
html, body, #app, #app>div, #root{
  height: 100%;
  width: 100%
}

.layout {
  height: 100%;
  width: 100%;
  background-color: rgb(36, 36, 36);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form {
  height: 100%;
  background-color: grey;
}
.preview {
  height: 100%;
  background-color: rgb(36, 36, 36);
}
.formCont {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 15px;
  margin-left: 15px;
  gap: 5px;
}
.formCont > *{
  width: 25vw;
}
.inputCont {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.largeText {
  height: 150px;
}
.preview {
  font-family: "Times New Roman";
  margin: 15px;
  margin-bottom: 0px;
}
.paper {
  background-color: white;
  width: calc(35vw);
  height: calc(35vw * 1.414);
  padding: 15px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  color: black;
  font-size: calc(30vw * 0.0264);
}
.paper strong {
  font-size: calc(30vw * 0.0312);
}
.displayName {
  font-size: calc(30vw * 0.0408);
}
/*Style contact info further */
.contactInfo{
  display: flex;
  gap: calc(30vw * 0.0264 * 2);
}